html {
    height: 100%;
}

body {
    background: rgb(0, 212, 255);
    background: radial-gradient(circle,
            rgba(0, 212, 255, 1) 0%,
            rgba(100, 100, 166, 1) 0%);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
}

.login-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 400px;
    align-items: center;
    margin-top: 55px;
}

.login-form-between-padding {
    padding-top: 20px;
}

.platform-login .p-button {
    margin-right: 0.5rem;
}

.App {
    font-family: sans-serif;
}